@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

div {
    margin: 20px;
}

h1 {
    font-family: 'Comfortaa', cursive;
}

nav {
    font-family: 'Comfortaa', cursive;
    color: #fff;
}
